:host {
  *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  textarea {
    white-space: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}