.reportForm {
  font-family: var(--font-default);
}

.reportForm-item {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.reportForm-caption {
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-caption);

  p {
    margin-top: 12px;
  }
}

.reportForm-field {
  margin-top: 8px;
}

.reportForm-header {
  display: flex;
  align-items: center;
}

.reportForm-heading {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-form-heading);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.reportForm-required {
  font-size: 14px;
  color: var(--color-form-required);
  margin-left: 2px;
}

.reportForm-nav {
  position: relative;
  display: flex;
  gap: 15px;
  margin: 0 15px;
  padding-right: 15px;
  padding-left: 15px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 90%;
    background: #e8e8e8;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.reportForm-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}